

.header-container {
    background-color: #282c34;
    height: 100px;
    display: flex;
    align-items: center;
}

.company-name {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    display: flex;
    flex:1;
    justify-content: center;
}

.logo {
    height: 50px;
    padding: 10px;
    position: fixed;
  }


  @media (max-width: 425px) {
    .company-name {
        font-size: x-large;
    }

    .logo {
        height: 40px;
        padding: 0px;
    }
    
  }